/* #top-section{
  position: relative;
  text-align: center;
  color: white;
} */

#previous-a{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    margin-left: 29px;
    font-weight:400;
}

#previous-b{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    font-weight:400;
}

.fa-solid {
    color: rgb(112,112,112);
    font-size: 10px;
    margin: 0px 7px;
}

#top-section a:last-child{
    color: rgb(112, 112, 112);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    font-weight:400;
}

#top-section h1{
    font-size: 40px;
    margin-left: 27px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#right-section{
    width: 19%;
    /* border: 2px solid salmon; */
    margin: 20px 0px 0px 25px;
}
#right-section h3{
    color: rgb(25,25,25);
    font-size: 16px;
    margin: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;

}
#right-section button{
    display: block;
    margin-bottom: 6px;
    text-align: left;
    border: none;
    background-color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#right-section button i{
    font-size: 16px;
    color: blueviolet;
}
#main-container{
    display: flex;
}
#left-section{
    width: 80%;
    /* border: 2px solid black; */
    margin-top: 20px;
}
#left-section h3{
    color: rgb(51,51,51);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: -2px;
}
#left-section a{
    text-decoration: none;
    
}
#left-section img{
    margin-bottom: 14px;
}
.right-div{
    width: 98%;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 25px;
    text-decoration: none;
    cursor: pointer;
}
.right-div a:hover{
    scale: 1.1;
}
.right-div div{
    text-align: center;
    font-size: 14px;
    color: rgb(51,51,51);
    text-align: left;
}
.right-div img{
   width: 100%;
}
#img-box{
    display: flex;
    margin-top: 28px;
    margin-bottom: 30px;
    cursor: pointer;
}
#left-img{
    width: 29.5%;
    height: 352px;
    background-color:#1DCBCA;
    
}
#left-img h3{
    margin: 30px 0px 0px 18px;
    font-size: 32px;
    color: white;
}
#left-img div{
    margin-top: 10px;
    margin-left: 22px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
#left-img button{
    margin-top: 150px;
    margin-left: 22px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    background-color:#01718F;
    /* border: 1px solid rgb(6, 95, 95); */
    cursor: pointer;
    border: 1px solid white;
}
#left-img button:hover{
    color: #1DCBCA;
    background-color: rgb(38, 27, 49) ;
}
#left-img i{
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}
#img-box img{
    width: 68.3%;
}
.eBay {
    margin-top: 30px;
}
.applePods{
    height: 190px;
}
.sellOneBay{
    width: 98.5%;
   
    /* border: 8px solid black; */
}
.para{
    margin: 20px;
    margin-top: 40px;
}
.para p li{
    color: rgb(51,51,51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 14px 0px;
    font-weight: 400;
    font-style: normal;
}
.para h3{
    margin-bottom: 5px;
   
}
.para h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(51,51,51);
}
.para li span{
    font-weight: 600;
    color: rgb(51,51,51);
    text-decoration: underline;
}
#sort h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(51,51,51);
}
#sort button{
    border: 1px solid teal;
    padding: 8px 25px;
    background-color: burlywood;
    margin-top: 5px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
#sort button:hover{
    background-color: #1DCBCA;
    scale: 1.2;
    cursor: pointer;
}
#imgAppend{
    border: 2px solid turquoise;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(236, 219, 195);
   }
   #imgAppend:hover{
       scale: 1.1;
       background-color: rgb(214, 169, 169);
       color: white;
   }